{
	"common": {
		"history_limit": 50,
		"poll_wait": 20000,
		"owner": "Alice"
	},

	"notes": "See ai/configs.js for all possible fields. Which ones are necessary will differ between LLMs.",

	"included": [
		{
			"ai_config": {
				"model": "claude-3-5-sonnet-20241022",
				"name": "Claude",
				"version": "3.5",
				"company": "Anthropic",
				"url": "https://api.anthropic.com/v1/messages",
				"anthropic_version": "2023-06-01"
			},
			"emoji": "🔮",
			"llm_key_file": "C:\\Users\\Alice\\keys\\anthropic_api_key.txt",
			"bot_token_file": "C:\\Users\\Alice\\keys\\discord_bot_token_01.txt"
		},
		{
			"ai_config": {
				"model": "gemini-2.0-flash-thinking-exp",
				"name": "Gemini",
				"version": "2.0",
				"company": "Google",
				"url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-thinking-exp:generateContent",
				"max_tokens_key": "maxOutputTokens"
			},
			"emoji": "✨",
			"llm_key_file": "C:\\Users\\Alice\\keys\\google_api_key.txt",
			"bot_token_file": "C:\\Users\\Alice\\keys\\discord_bot_token_02.txt"
		},
		{
			"ai_config": {
				"model": "chatgpt-4o-latest",
				"name": "GPT-4o",
				"company": "OpenAI",
				"url": "https://api.openai.com/v1/chat/completions",
				"max_tokens_key": "max_completion_tokens",
				"max_tokens": 16384
			},
			"emoji": "🤖",
			"llm_key_file": "C:\\Users\\Alice\\keys\\openai_api_key.txt",
			"bot_token_file": "C:\\Users\\Alice\\keys\\discord_bot_token_03.txt"
		}
	]
}
